In [35]:
import pandas as pd
import numpy as np

import os
from PIL import Image
import matplotlib.image as img

import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Because we have the data as images, we need to convert them to dataframe, but first we create a dataframe filled with the images names .<br>
In addition to that, we categorize the images to two categories: <br>
**0** - Cat <br>
**1** - Dog

In [3]:
filenames = os.listdir(r"C:\Users\USER\OneDrive\שולחן העבודה\DogsVsCats")
categories = []
for filename in filenames:
    category = filename.split('.')[0]
    if category == 'dog':
        categories.append(1)
    else:
        categories.append(0)

df = pd.DataFrame({
    'filename': filenames,
    'category': categories
})

In [13]:
df.head()

       filename  category
0     cat.0.jpg         0
1     cat.1.jpg         0
2    cat.10.jpg         0
3   cat.100.jpg         0
4  cat.1000.jpg         0

In [14]:
df['category'].value_counts()

1    12500
0    12500
Name: category, dtype: int64

As we can tell we have the same amount of cat images and dog images, 12500 images each.

Let's convert the images from RGB to grayscale and compress all images to 784 dimensions

In [ ]:
for i in range(0,25000):
    sample = filenames[i]
    img = Image.open(r"C:\Users\USER\OneDrive\שולחן העבודה\DogsVsCats\\"+sample)
    imgGray = img.resize((28,28),Image.ANTIALIAS).convert('L')
    imgGray.save(r"C:\Users\USER\OneDrive\שולחן העבודה\compressed images\\"+sample)

In [4]:
im = img.imread(r"C:\Users\USER\OneDrive\שולחן העבודה\compressed images\\"+filenames[0])

In [5]:
g = np.array(im)

In [6]:
g=g.reshape(784)

In [7]:
h = list()
h.append(filenames[0])
for i in g:
    h.append(g[i])

In [8]:
arr = list()
arr.append("image name")
for i in range(1,785):
    arr.append("pixel " +str(i))

In [9]:
f = pd.DataFrame(columns = arr)

In [10]:
f

Empty DataFrame
Columns: [image name, pixel 1, pixel 2, pixel 3, pixel 4, pixel 5, pixel 6, pixel 7, pixel 8, pixel 9, pixel 10, pixel 11, pixel 12, pixel 13, pixel 14, pixel 15, pixel 16, pixel 17, pixel 18, pixel 19, pixel 20, pixel 21, pixel 22, pixel 23, pixel 24, pixel 25, pixel 26, pixel 27, pixel 28, pixel 29, pixel 30, pixel 31, pixel 32, pixel 33, pixel 34, pixel 35, pixel 36, pixel 37, pixel 38, pixel 39, pixel 40, pixel 41, pixel 42, pixel 43, pixel 44, pixel 45, pixel 46, pixel 47, pixel 48, pixel 49, pixel 50, pixel 51, pixel 52, pixel 53, pixel 54, pixel 55, pixel 56, pixel 57, pixel 58, pixel 59, pixel 60, pixel 61, pixel 62, pixel 63, pixel 64, pixel 65, pixel 66, pixel 67, pixel 68, pixel 69, pixel 70, pixel 71, pixel 72, pixel 73, pixel 74, pixel 75, pixel 76, pixel 77, pixel 78, pixel 79, pixel 80, pixel 81, pixel 82, pixel 83, pixel 84, pixel 85, pixel 86, pixel 87, pixel 88, pixel 89, pixel 90, pixel 91, pixel 92, pixel 93, pixel 94, pixel 95, pixel 96, pixel 97, pixel 98, pixel 99, ...]
Index: []

[0 rows x 785 columns]

In [11]:
for i in range(1,25000):
    im = img.imread(r"C:\Users\USER\OneDrive\שולחן העבודה\compressed images\\"+filenames[i])
    g = np.array(im)
    g=g.reshape(784)
    h = list()
    h.append(filenames[i])
    for x in g:
        h.append(g[x])
    s = pd.DataFrame([h],columns = arr)
    f = pd.concat([f, s], ignore_index = True, axis = 0)

In [15]:
f.head()

,image name,pixel 1,pixel 2,pixel 3,pixel 4,pixel 5,pixel 6,pixel 7,pixel 8,pixel 9,...,pixel 775,pixel 776,pixel 777,pixel 778,pixel 779,pixel 780,pixel 781,pixel 782,pixel 783,pixel 784
0,cat.1.jpg,84,81,85,123,120,86,84,126,83,...,82,50,85,124,80,84,143,42,54,54
1,cat.10.jpg,158,40,55,165,33,152,146,33,161,...,38,32,15,152,53,43,160,45,97,164
2,cat.100.jpg,222,183,222,174,74,211,227,211,235,...,251,172,255,115,231,86,102,109,110,102
3,cat.1000.jpg,131,90,134,155,31,96,208,113,36,...,136,90,69,90,90,90,123,88,115,109
4,cat.10000.jpg,111,121,27,8,5,6,5,5,85,...,11,14,117,4,73,73,69,59,32,14

**NICE !** <br>
Now we have all the images sorted in a dataframe with their pixels.

In [16]:
f.insert(1, "category", df["category"], True)

In [133]:
f.head()

,image name,category,pixel 1,pixel 2,pixel 3,pixel 4,pixel 5,pixel 6,pixel 7,pixel 8,...,pixel 775,pixel 776,pixel 777,pixel 778,pixel 779,pixel 780,pixel 781,pixel 782,pixel 783,pixel 784
0,cat.1.jpg,0,84,81,85,123,120,86,84,126,...,82,50,85,124,80,84,143,42,54,54
1,cat.10.jpg,0,158,40,55,165,33,152,146,33,...,38,32,15,152,53,43,160,45,97,164
2,cat.100.jpg,0,222,183,222,174,74,211,227,211,...,251,172,255,115,231,86,102,109,110,102
3,cat.1000.jpg,0,131,90,134,155,31,96,208,113,...,136,90,69,90,90,90,123,88,115,109
4,cat.10000.jpg,0,111,121,27,8,5,6,5,5,...,11,14,117,4,73,73,69,59,32,14

In [134]:
df1 = f.drop(columns=['image name'])

In [135]:
df1 = df1.apply(pd.to_numeric)

In [136]:
X = df1.drop(columns='category')

In [137]:
Y = df1['category']

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=1)

In [142]:
model = XGBClassifier()

In [143]:
model.fit(X_train, y_train)

C:\Users\USER\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:58:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [144]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

C:\Users\USER\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [145]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 53.13%

In [117]:
from sklearn.ensemble import RandomForestClassifier

In [139]:
pca =PCA()
pca.fit(X_train)
cumsum = np.cumsum(pca.explained_variance_ratio_)
d = np.argmax(cumsum >= 0.95)+1
pca=PCA(n_components = 0.95)
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [140]:
rf =  RandomForestClassifier()
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)
print(accuracy_score(y_test, rf_pred))

0.5202424242424243

As we can tell applying PCA doesn't really change anything in here, we still got an accuracy of almost 0.53